body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carousel {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  --move: 1;
  --duration: 250ms;
  --timing-function: ease-in-out;
  --transition-property: all;
}

.slides {
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.slides > * {
  width: 100%;
  transition: var(--transition-property) var(--duration) var(--timing-function);
  position: absolute;
}

.slides > *:not(.prev):not(.cur):not(.next) {
  display: none;
}

/**
 * .cur turns into .prev and than to
 * .next if there are two slides only
 * hence .prev has to have higher specifity
 * hence the second class selector 
 */
.slides .prev.prev {
  transform: translateX(calc(var(--move) * -100%));
}

.slides .cur {
  transform: translateX(0);
}

.slides .next {
  transform: translateX(calc(var(--move) * 100%));
}

.carousel.moving .slides .next,
.carousel.moving .slides .cur {
  z-index: 1;
}
