.carousel {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  --move: 1;
  --duration: 250ms;
  --timing-function: ease-in-out;
  --transition-property: all;
  --aspect-ratio-x: 16;
  --aspect-ratio-y: 9;
  --visible: 1;
}

.slides {
  aspect-ratio: calc(var(--aspect-ratio-x) * var(--visible)) /
    var(--aspect-ratio-y);
  position: relative;
  overflow: hidden;
  z-index: 0;
  touch-action: none;
}

.slides > * {
  width: calc(100% / var(--visible));
  height: 100%;
  transition: var(--transition-property) var(--duration) var(--timing-function);
  position: absolute;
}

.slides > *:not(.prev):not(.cur):not(.next):not(.visible) {
  display: none;
}

/**
 * .cur turns into .prev and than to
 * .next if there are two slides only
 * hence .prev has to have higher specifity
 * hence the second class selector 
 */
.slides .prev.prev {
  /* if move = -1 (back) with offset */
  --multiplier: min(1, calc(var(--move) * var(--visible)));
  --offset: max(1, var(--multiplier) * -1);
  transform: translateX(calc(var(--move) * var(--offset) * -100%));
}

.slides .cur {
  transform: translateX(0);
}

.slides .visible {
  transform: translateX(calc(var(--visible-slide) * 100%));
}

.slides .next {
  /* if move = 1 (fwd) with offset */
  --offset: max(1, calc(var(--move) * var(--visible)));
  transform: translateX(calc(var(--move) * var(--offset) * 100%));
}

/* snap next slide to its position except for there are only two slides */
.carousel.moving .slides .next {
  /* calculate abs */
  --abs: max(2 - var(--item-count), var(--item-count) - 2);
  /* 1 if abs is not zero -> not exactly two slides */
  --not-two: min(1, var(--abs));
  /* 1 if not-two is zero -> exactly two slides */
  --two: calc(1 - var(--not-two));
  transition-duration: calc(var(--duration) * var(--two));
}

.slides iframe[src*="//www.youtube.com/embed"],
.slides iframe[src*="//www.youtube-nocookie.com/embed"]
{
  pointer-events: none;
}
