:root {

    --gap: 30px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header" "content" "footer"; 
    grid-template-rows: auto 1fr auto;
}

header {
    background: red;
    height: 100px;
}

main {
    display: grid;
    grid-template-columns: var(--gap) 1fr var(--gap);
    grid-template-areas: ". content .";
}

footer {
    background: green;
    height: 300px;
}

section.content {
    grid-area: content;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: grid;
    gap: var(--gap);
}

.grid-container-wide {
    background-color: purple;
    height: 4rem;
}

[class*="grid-container"] {
    display: grid;
    gap: var(--gap);
}

[class*="grid-container"] > div {
    height: 4rem;
}

.grid-container-100 > div {
    background: lightblue;
}

.grid-container-50 > div {
    background: gray;
}

.grid-container-33 > div {
    background: green;
}


.grid-container-2575 > div {
    background: red;
}

.grid-container-7525 > div {
    background: red;
}

.grid-container-3366 > div {
    background: gray;
}

.grid-container-25 > div {
    background: lightgray;
}

.grid-container-narrow {
    background-color: orange;
}


@media (min-width: 768px) {

    .grid-container-25,
    .grid-container-50 {
        grid-template-columns: 1fr 1fr;
    }
}



@media (min-width: 1024px) {

    .grid-container-25 {
        grid-template-columns: repeat(1fr);
    }

    .grid-container-33 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-container-2575 {
        grid-template-columns: 1fr 3fr;
    }

    .grid-container-7525 {
        grid-template-columns: 3fr 1fr;
    }

}

@media (min-width: 1920px) {
    .grid-container-wide {
        margin-inline: calc(((100vw - 2 * 122px - 1200px) / 2) * -1);
    }
}
