:root {

    --gap: 30px;
    --col33: calc((100% - var(--gap) * 2) / 3);
    --col66: calc(((100% - var(--gap) * 2) / 3) * 2 + var(--gap));
    --col25: calc((100% - var(--gap) * 3) / 4);
    --col75: calc(((100% - var(--gap) * 3) / 4) * 3 + 2 * var(--gap));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header" "content" "footer"; 
    grid-template-rows: auto 1fr auto;
}

header {
    background: red;
    height: 100px;
}

main {
    display: grid;
    grid-template-columns: var(--gap) 1fr var(--gap);
    grid-template-areas: ". content .";
}

footer {
    background: green;
    height: 300px;
}

section.content {
    grid-area: content;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: grid;
    gap: var(--gap);
}

.grid-container-wide {
    background-color: purple;
    height: 4rem;
}

[class*="grid-container"] {
    display: grid;
    gap: var(--gap);
}

[class*="grid-container"] > div {
    height: 4rem;
}

.grid-container-100 > div {
    background: lightblue;
}

.grid-container-50 > div {
    background: gray;
}

.grid-container-33 > div {
    background: green;
}


.grid-container-6633 > div {
    background: tomato;
}

.grid-container-3366 > div {
    background: coral;
}

.grid-container-2575 > div {
    background: red;
}

.grid-container-7525 > div {
    background: red;
}

.grid-container-25 > div {
    background: lightgray;
}

.grid-container-narrow {
    background-color: orange;
}


@media (min-width: 768px) {

    .grid-container-25,
    .grid-container-50 {
        grid-template-columns: 1fr 1fr;
    }
}



@media (min-width: 1024px) {

    .grid-container-25 {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-container-33 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-container-3366 {
        grid-template-columns: var(--col33) var(--col66);
    }

    .grid-container-6633 {
        grid-template-columns: var(--col66) var(--col33);
    }

    .grid-container-2575 {
        grid-template-columns: var(--col25) var(--col75);
    }

    .grid-container-7525 {
        grid-template-columns: var(--col75) var(--col25);
    }

}

@media (min-width: 1920px) {
    .grid-container-wide {
        margin-inline: calc(((100vw - 2 * 122px - 1200px) / 2) * -1);
    }
}
