* {
  margin: 0;
  padding: 0;
}

:root {
  --nav-width: 250px;
}

body {
  display: grid;
  grid-template-areas: "header header" "nav main" "nav footer";
  grid-template-columns: 0 1fr;
}

header {
  position: sticky;
  top: 0;
  height: 8rem;
  width: 100%;
  background-color: coral;
  grid-area: header;
}

nav {
  grid-area: nav;
  background-color: bisque;
  position: fixed;
  inset: 8rem auto 0 calc(-1 * var(--nav-width));
  width: var(--nav-width);
}

main {
  padding: 1rem;
  grid-area: main;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;
}

article.product {
  background: lightblue;
  border-radius: 1rem;
  aspect-ratio: 3 / 4;
  padding: 0;
  width: 100%;
  height: 100%;
}

article.product.wide {
  background-color: cadetblue;
}

article.product.big {
  background-color: blueviolet;
}

/* 2 * tile min-width + gap-width + 2 * main-padding: 2 * 200 + 16 + 2 * 16 */
@media (min-width: 448px) {
  article.product.wide {
    grid-column: span 2;
    aspect-ratio: 6 / 4;
  }
  article.product.big {
    grid-column: span 2;
    grid-row: span 2;
  }
}
/* 2 * tile min-width + gap-width + 2 * main-padding + nav-width: 2 * 200 + 16 + 2 * 16 + 250 */
@media (min-width: 698px) {
  body {
    grid-template-columns: var(--nav-width) 1fr;
  }
  nav {
    inset-inline-start: 0;
  }
}

footer {
  grid-area: footer;
  height: 10rem;
  background-color: darkgrey;
}
